<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>Update task:</h1>

    <form th:action="@{/updtask}"
          th:object="${taskformUpd}" method="POST">
        <p>Update From:</p>
        <p>Title:
            <input type="text" th:field="*{titleFrom}" />
        </p>
        <p> YesNoMark:
            <input type="text" th:field="*{yesNoMarkFrom}" />
        </p>

        <p>Update To:</p>

        <p>Title:
            <input type="text" th:field="*{titleTo}" />
        </p>
        <p> YesNoMark:
            <input type="text" th:field="*{yesNoMarkTo}" />
        </p>

        <input class ="button-main-page" type="submit" value="Update" />
    </form>




</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
</body>
</html>